#homeContainer{
  display: flex;
  height: 100vh;
}
#homeContainer > section{
  flex: 1; 
  height: 99%; 
  border: 1px solid #ccc;
}
#homeContainer h3{
  display: flex;
  justify-content: space-between;
  margin-inline: 2em;
  font-size: 1.6em;
}
#dataListContainer{
  width: 100%;
  min-width: 200px;
  height:85vh;
  min-height: 300px;
}
#dataListContainer ul{
  list-style: none;
  font-size: 1.8em;
  height: 100%;
  overflow: auto;
}

#dataListContainer ul li{
  height: 1.8em;
  border-bottom: 1px solid #ccc;
}
#dataListContainer ul li:hover{
  cursor: pointer;
  background-color: #ccc;
}
#detailsContainer{
  width: 100%;
  min-width: 200px;
  height:calc(85vh - 10em) !important;
  min-height: 300px;
}
#stepContainer{
  width: 100%;
  min-width: 200px;
  height: 10em;
}
#stepContainer{
  display: grid;
  width: 100%;
  min-width: 160px;
}
#stepContainer > div:first-child{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.stepChild{
  font-size: 20px;
  border-radius: 50%;
  border:0.5px solid #ccc;
  width: 30px;
  height: 30px;
  display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #dedede;
    opacity: 0.6;
}
.active{
  border:0.5px solid #666666;
  background-color: #479AEA;
  color: #fff;
  opacity: 1;
}
#stepContainer h4{
font-size: 1.5em;
text-align: center;
}
#detailsContainer img{
  /* width:150px;
  aspect-ratio: 3/2;
  object-fit: contain; */
  object-fit: cover;
  object-position: top center;
  border-radius:50%;
  width: 100px;
  height: 100px;
}
.profileImgContainer{
  text-align: center;
  height: 150px;
}
.step-1-info{
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin: 1em;
    gap: 2em;
}
.step-1-info >div{
  flex: 1 0 40%;
  /*height: 40px;
   min-width: 250px;
  max-width: 20vw; */
  display: flex;
  justify-content: center;
 align-items: center;
}
.step-1-info input[type ="text"],.step-1-info input[type ="email"]{
  width:90%;
  height:35px;
  border-radius: 6px;
}
.footerButtonContainer{
  width: 100%;
  text-align: end;
}
table{
  width:90%;
  margin: auto;
}
.step-2-info th:first-child,.step-2-info td:first-child,.step-3-info th:first-child,.step-3-info td:first-child{
  width:70%;
  min-width:100px;
}
.step-2-info th:last-child,.step-2-info td:last-child,.step-3-info th:last-child,.step-3-info td:last-child{
  width:30%;
  min-width:100px;
}
th{
  font-size: 1.8em;
  text-align: start;
  background-color: #ccc;
}
td input[type="text"]{
  width:95%;
  border: none;
  height: 25px;
  font-size: 1.6em;
}
tbody td{
  border-bottom: 1px solid #ccc;
}
.duration input[type ="month"]{
width:40%;
}
.duration > input[type ="month"]:first-child{
  margin-left:5px;
  }

  .duration > input[type ="month"]:last-child{
    margin-right:5px;
    }
    #homeWrapper{
      text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    }